<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세화면~</title>
</head>
<body>
상세페이지 짠
<table>
    <form th:action="@{/board/write}" th:object="${board}">
        <tr>
            <th>번호</th>
            <td><input th:field="*{id}" readonly></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input th:field="*{title}" readonly></td>
        </tr>
        <tr>
            <th>작성일</th>
            <td><input th:field="*{date}" readonly></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea th:field="*{content}" readonly></textarea></td>
        </tr>
        <div th:if="${file != null}">
            <tr>
                <th>첨부파일</th>
                <td>
                    <span th:text="${file.originalName}"></span>
                    <a th:href="@{'/board/downloadFile/' + ${file.id}}">다운로드</a>
                </td>
            </tr>
        </div>
        <input type="hidden" th:field="*{member}">
        <input type="submit" th:value="수정">
    </form>
    <a th:href="@{/board/list}"><input type="button" th:value="목록"></a>
    <form th:action="@{'/board/delete/'+${board.id}}" th:object="${board}" method="post">
        <input type="hidden" name="_method" th:value="delete">
        <input type="hidden" th:field="*{id}">
        <button>삭제</button>
    </form>
</table>

</body>
</html>