<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <div th:if="${boardInfo}">
        <form th:action="@{/board/update}" th:object="${board}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{date}">
            <tr>
                <th>제목</th>
                <td><input th:field="*{title}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><textarea th:field="*{content}"></textarea></td>
            </tr>
            <input type="submit" th:value="수정">
        </form>
        <button><a th:href="@{/board/list}">목록</a></button>
    </div>
    <div th:unless="${boardInfo}">
        <form th:action="@{/board/insert}" th:object="${board}" method="post">
            <tr>
                <th>제목</th>
                <td><input th:field="*{title}" placeholder="제목을 입력하세요"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><textarea th:field="*{content}" placeholder="내용을 입력하세요"></textarea></td>
            </tr>
            <input type="submit" th:value="등록">
        </form>
        <a th:href="@{/board/list}"><input type="button" th:value="목록"></a>
    </div>
</table>
</body>
</html>